<h1>User Home</h1>

<p>Your user is <%= @user %></p>
<p>Your name is <%= @user.name %></p>
<p>Your email is <%= @email %></p>
<p>Your uid is <%= @user.uid %></p>


<p>This is where you see a user's stats:</p>
<ul>
  <li>how many beers you've been given,</li>
  <li>which people have given you beers,</li>
  <li>and who you've given beers to.</li>
</ul>


<%= button_to "Give Someone A Beer", new_beer_path, :class => "button", :method => :get %>


<h2>Beers You've Given</h2>

<p><%= @user.name %> has given <%= @beers_given.count %> beers and received <%= @received_count %> beers</p>

<% if @beersOffered %>
  <p><%= @user.name %> has offered <%= @beersOffered.count %> beers that haven't been accepted yet.</p>

  <% @beersOffered.each do |b| %>
    <div class="beerGiven">
      <ul>
        <li>To: <%= b.recipient %></li>
        <li><%= link_to "Right-click this link, choose 'copy link address', and send to your recipient!", receivebeer_path(b.randID) %></li>
      </ul>
      <hr>
    </div>
  <% end %>

<% end %>



<% if @beers_given %>
  
  <h3>Latest beers given:</h3>

  <% @beers_given.each do |b| %>
    <div class="beerGiven">
      <ul>
        <li><strong>Given to:</strong> <%= b.recipient %></li>
        <li><strong>Random ID:</strong> <%= b.randID %></li>
        <li><strong>Received At:</strong> <%= b.receivedAt %></li>
        <li><strong>Note:</strong> <%= b.note %></li>
      </ul>
      <hr>
    </div>
  <% end %>

<% end %>
