<h1>User Home</h1>

<p>Your user is <%= @user %></p>
<p>Your name is <%= @user.name %></p>
<p>Your email is <%= @email %></p>
<p>Your uid is <%= @user.uid %></p>


<p>This is where you see a user's stats:</p>
<ul>
  <li>how many beers you've been given,</li>
  <li>which people have given you beers,</li>
  <li>and who you've given beers to.</li>
</ul>

<p>There will also be a "GIVE SOMEONE A BEER" button here (we don't need a separate view for that; just AJAX and a modal.</p>

<%= button_to "Give Someone A Beer", new_beer_path, :class => "button", :method => :get %>


<h2>Beers You've Given</h2>

<% if @beers_given %>
  <% @beers_given.each do |b| %>

  <div class="beerGiven">
    <li>recipient<%= b.recipient %></li>
    <li>lat<%= b.lat %></li>
    <li>lon<%= b.lon %></li>
    <li>randID<%= b.randID %></li>
    <li>receivedAt<%= b.receivedAt %></li>
    <li>note<%= b.note %></li>
  </div>

  <% end %>
<% end %>

