<h1>User Home</h1>

<p>Your user is <%= @user %></p>
<p>Your name is <%= @user.name %></p>
<p>Your email is <%= @email %></p>
<p>Your uid is <%= @user.uid %></p>


<p>This is where you see a user's stats:</p>
<ul>
  <li>how many beers you've been given,</li>
  <li>which people have given you beers,</li>
  <li>and who you've given beers to.</li>
</ul>


<%= button_to "Give Someone A Beer", new_beer_path, :class => "button", :method => :get %>


<h2>Beers You've Given</h2>

<p><%= @user.name %> has given <%= @beers_given.count %> beers and received <%= @received_count %> beers</p>

<% if @beersOffered %>
  <p><%= @user.name %> has offered <%= @beersOffered %> beers that haven't been accepted yet.</p>
<% end %>



<% if @beers_given %>
  
  <h3>Last 5 beers given:</h3>

  <% @beers_given.each do |b| %>
    <div class="beerGiven">
      <li>recipient<%= b.recipient %></li>
      <li>randID<%= b.randID %></li>
      <li>receivedAt<%= b.receivedAt %></li>
      <li>note<%= b.note %></li>
      <hr>
    </div>
  <% end %>

<% end %>
