<h1>This is a Beer.</h1>

<p>Given by: <%= @sponsorname %></p>

<% if @beer.receivedAt %>
  <p>Given to: <%= @beer.recipient %></p>
<% else %>
  <p>Send this link to the receiver: <%= "#{request.base_url}#{url_for receivebeer_path(@beer.randID)}" %></p>

  <a href="<%= url_for receivebeer_path(@beer.randID) %>" class="button large alert">Claim This Beer</a>
  
<% end %>

<hr>

<p>To: <%= @beer.recipient %></p>
<p>Note: <%= @beer.note %></p>

<!-- <p>Given at latitude: <%= @beer.lat %></p>
<p>Given at longitude: <%= @beer.lon %></p> -->


