<h1>This is a Beer.</h1>

<p>Given by: <%= @beer.sponsor %></p>
<p>Given to: <%= @beer.recipient %></p>
<p>Unique ID: <%= @beer.randID %></p>
<p>Database ID: <%= @beer.id %></p>

<p>Given at latitude: <%= @beer.lat %></p>
<p>Given at longitude: <%= @beer.lon %></p>


