<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Beerconomy" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="row">
    <div class="large-12 columns">
      <ul class="button-group radius even-4">
        <li><a class="button" href="/about">About</a></li>
        
        <% if current_user %>
          <li><a href="/user/home" class="button">Home</a></li>
          <li><%= link_to "Log Out", signout_path(), :class => "button" %></li>
        <% else %>
          <li><a href="/static/home" class="button">Home</a></li>
          <li><%= link_to "Log In", signin_path(), :class => "button" %></li>
        <% end %>

        </ul>
      </div>
    </nav>

    <div class="row flashalerts">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>
    </div>

    <div class="row mainAppContent">
    <%= yield %>
    </div>

  </body>
</html>
