<!DOCTYPE html>
<html>
<head>
  <title>Beerconomy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>


<% if current_user %>
  Welcome <strong><%= current_user.name %></strong>!

  <p>You're logged in with <%= current_user.provider %></p>

  <p><%= link_to "Sign out", signout_path, id: "sign_out" %></p>
<% else %>
  <%= link_to "Sign in", "/sessions/new", id: "sign_in" %>
<% end %>



<%= yield %>

</body>
</html>
